venv/
node_modules/
assets/POPS-binaries-main/
assets/OPL/boot.kelf
assets/OPL/system.cnf
assets/NHDDL/boot.kelf
assets/NHDDL/system.cnf
games/ART/*.png
games/APPS/*.psu
assets/HDD-OSD/
games/APPS/HDD-OSD.elf
games/APPS/PSBBN.ELF
*.log
*.gz
*.zip
*.st
*.iso
*.ISO
*.zso
*.ZSO
*.vcd
*.VCD
*.json
IOPRP252.IMG
POPS.ELF
gamepath.cfg
